.header {
  display: flex;
  background-color: #6d9886;
  padding-block: 10px;
  padding-inline: 15%;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  background-color: beige;
  box-shadow: 1px 1px 1px #393e46;
  border-radius: 24px;
  transition: transform 250ms, box-shadow 250ms;

  &:hover,
  &:focus {
    transform: translateY(-2px);
    box-shadow: 3px 3px 3px #393e46;
  }
}
